{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('bundles/acmeblog/css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/acmeblog/js/jquery/jquery-2.2.2.js') }}"></script>
    <script src="{{ asset('bundles/acmeblog/js/myscript.js') }}"></script>
    <script src="{{ asset('bundles/acmeblog/js/ajax.js') }}"></script>
{% endblock %}
{% block title %}AcmeBlogBundle:Order:index{% endblock %}

{% block body %}
    {% if carts %}
        {% if message %}
            {% set a = app.session.get('message') %}
            {% dump(message) %}
            {% endif %}
        {{ form_start(form, {'action': path('checkout_confirm')}) }}
        <table class="product-list">
            <thead >
                <tr >
                    <td ><span>Product Id</span></td>
                    <td ><span>Name</span></td> 
                    <td ><span>Description</span></td>
                    <td ><span>Quantity</span></td>
                    <td ><span>Price</span></td>
                </tr>
            </thead>
            <tbody>
                {% for key,item in carts %}
                    <tr>
                        <td>#{{key}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td><input class="hidden-quantity" data-url="{{path("order_update_product")}}" data-id="{{key}}" type="text" name="carts[{{key}}][quantity]" value="{{item.quantity}}"></td>
                        <td>{{item.price*item.quantity}}</td>
                        
                    </tr>
                    
                {% endfor %}
                <tr>
                    <td>Total price:</td>
                    <td>{{totalPrice}}</td>
                    <td style="border:none"><input type="hidden" name="totalPrice" value="{{totalPrice}}"/></td>
                </tr>
            </tbody>
        </table>
        
        <table>
            <tr>
                <td>{{ form_widget(form.account) }}
                    {{ form_label(form.account, 'Non Account') }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.email, 'Email:') }}</td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_widget(form.check_email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.address, 'Shipping Address:') }}</td>
                <td>{{ form_widget(form.address) }}</td>
            </tr>
            
        </table>
        <div id="non-account" style="display: none">
            {{ form_label(form.firstname, 'First name:') }}
            {{ form_widget(form.firstname) }}</br>
            {{ form_label(form.lastname, 'Last name::') }}
            {{ form_widget(form.lastname) }}</br>
            {{ form_label(form.phone, 'Phone:') }}
            {{ form_widget(form.phone) }}
        </div>
        <a href="{{path("index")}}">Back</a>
        {{form_widget(form.confirm)}}
        {{ form_end(form) }}
    {% endif %}
    <input type="hidden" value="{{path("order_update_product")}}" id="url-ajax-update-quantity"/>
{% endblock %}
